$nums: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

@each $col in $nums {
    .col-lg-#{$col} {
        margin: 0px;
        padding: 0px;
    }
}

.upload-content-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.upload-content-page__upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    width: 100%;
    height: calc(100vh - 50px);
    margin-top: 50px;
}

.upload-container__upload-form-container {
    display: flex;
    
}

.upload-form-container__left-upload-col {
    background-color: white;
}

.upload-form-container__right-upload-col {
    background-color: white;
}

.left-upload-col__upload-file-input {
    display: none;
}

.left-upload-col__preview-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-upload-col__preview-container svg {
    height: 15%;
    width: 15%;
}

@media screen and (max-width: 991px) {

    /* Form Container */
    .upload-container__upload-form-container {
        border-radius: 1px solid #111;
        height: 100px;
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    
    /* Form Container */
    .upload-container__upload-form-container {
        height: 80vh;
        max-width: 1000px;
    }

    /* Left Col */
    .upload-form-container__left-upload-col {
        background-color: #777777;
        flex-grow: 1;
    }
    
    /* Right Col */
    .upload-form-container__right-upload-col {
        width: 350px;
        height: 100%;
    }
}