.registration-page-container {
    background-color: #eeeeee;
    /*background-color: #663dff;
    background-color: #8800ff;
    background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);*/
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Big size config */
.registration-page-container__registration-component--pc {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #cccccc;
}

.registration-page-container__registration-component--pc {
    margin: 30px 0px 30px 0px;
}

.title-of-the-app {
    font-size: x-large;
    margin: 30px 0px 30px 0px;
    font-weight:  900;
}

.registration-page-container__registration-component--pc p {
    width: fit-content;
}

.registration-page-container__registration-component--pc input {
    background-color: #efefef;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
    padding: 0px 7px 0px 7px;
    border: 1px solid #cccccc;
}

.forgot-password-container {
    margin: 20px 0px 0px 0px;
    width: 300px;
}

.forgot-password-container a {
    font-size: small;
    color: silver;
}

.forgot-password-container {
    display: flex;
    flex-direction: row;
}

.forgot-password-container:before, .forgot-password-container:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid silver;
    margin: auto;
}

.forgot-password-container:before {
    margin-right: 10px
}

.forgot-password-container:after {
    margin-left: 10px
}

.registration-component__button-container--pc {
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registration-component__button-container--pc button {
    width: 300px;
    height: 40px;
    margin: 30px 0px 10px 0px;
    background-color: white;
    color: black;
    border-radius: 50px;
    border: 2px solid black;
    font-weight: 600;
    transition: all 0.1s ease-in;
}

.registration-component__button-container--pc button:hover {
    
    background-color: black;
    color: white;
    transition: all 0.1s ease-in;
}

.registration-component__options-controller--pc {
    background-color: #8800ff;
}

.registration-component__options-controller--pc p:first {
    font-size: small;
}

.registration-component__options-controller--pc p {
    font-size: small;
}

.registration-page-container__registration-component--pc a {
    font-weight: 100;
    transition: all 0.1s ease-in;
    color: silver;
}

.registration-page-container__registration-component--pc a:hover {
    color: black;
    transition: all 0.1s ease-in;
}

.registration-link {
    margin: 0px 0px 0px 0px;
    font-weight: 200;
    font-size: small;
}

.copyright {
    margin: 100px 0px 0px 0px;
    font-size: small;   
    font-weight: 200;
}

/* #################################################### Mobile size config #################################################### */
.registration-page-container__registration-component--mobile {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registration-page-container__registration-component--mobile hr {
    width: 300px;
    margin: 10px 0px 50px 0px;
}

.registration-page-container__registration-component--mobile p {
    width: fit-content;
    margin: 0px;
    padding: 0px;
}

.registration-page-container__registration-component--mobile p:first-child {
    font-size: x-large;
    font-weight: 700;
    margin: 50px 0px 50px 0px;
}

.registration-page-container__registration-component--mobile input {
    background-color: #eeeeee;
    height: 40px;
    min-height: 40px;
    width: 300px;
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
    padding: 0px 7px 0px 7px;
    border: 1px solid #cccccc;
}

.registration-component__button-container--mobile {
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registration-component__button-container--mobile button {
    width: 300px;
    height: 40px;
    margin: 5px 0px 0px 0px;
    background-color: white;
    border-radius: 30px;
    border: 2px solid black;
    font-weight: 600;
    transition: all 0.1s ease-in;
}

.registration-component__button-container--mobile button:hover {
    background-color: black;
    color: white;
    transition: all 0.1s ease-in;
}

.registration-page-container__registration-component--mobile a {
    color: black;
    font-weight: 500;
    transition: all 0.1s ease-in;
}

.registration-page-container__registration-component--mobile a:hover {
    color: #8800ff;
    transition: all 0.1s ease-in;
}

.registration-page-container__registration-component--mobile .copyright {
    margin: 100px 0px 0px 0px;
    position: fixed;
    bottom: 0;
}

.registration-page-container__registration-component--mobile .title-of-the-app {
    font-weight: 500;
}