.user-profile-element-container { 
    display: flex;
    flex-direction: column;
    background-color: silver;
    margin: 0px;
    padding: 0px;
}

.user-profile-element-image-container img {
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}