.sidebar-container {
    height: calc(100vh - 60px);
    width: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    border-right: 1px solid silver;
}

.sidebar-container-separator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 5px 0px;
}

.sidebar-container-separator hr {
    margin: 0px;
    width: 95%;
    background-color: silver;
    opacity: 100%;
}

.sidebar-container::-webkit-scrollbar {
    display: none;
    width: 5px;
}

.sidebar-container::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 10px;
}

.sidebar-container::-webkit-scrollbar-track {
    background-color: #dddddd;
}

.sidebar-container:hover::-webkit-scrollbar {
    display: flex;
    width: 5px;
}

.sidebar-container:hover::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 10px;
}

.sidebar-container:hover::-webkit-scrollbar-track {
    background-color: #dddddd;
}