.post-container {
    margin-top: 60px;
    max-width: 600px;
    width: 100%;
    height: fit-content;
    box-shadow: 0px 0px 3px 0px silver;
    /*border: 1px solid #eeeeee;*/
    background-color: white;
    border-radius: 7px;
}

.post-container__post-header {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.post-header__profile-picture-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;
}

.post-header__profile-picture-container img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.post-header__profile-middle-container {
    height: 50px;
    width: 200px;
}

.post-header__profile-middle-container p:first-child {
    font-weight: 500;
}

.post-header__profile-middle-container p {
    font-weight: 100;
    font-size: small;
}

.post-header__profile-right-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.post-header__profile-right-container svg {
    height: 20px;
    width: 20px;
    margin-right: 15px;
}

.post-container img {
    object-fit: cover;
}

.post-container__description-container {
    padding: 15px 10px 15px 10px;
    min-height: 70px;
}

.post-container__description-container p {
    font-weight: 100;
    font-size: smaller;
}

.post-container__date-text {
    font-weight: 500;
    font-size: x-small;
    padding-left: 10px;
    color: #333333;
}


.statistics-container__statistic-col-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.statistic-col-right__statistic-item {
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 15px;
}

.statistic-col-right__statistic-item svg {
    height: 22px;
    width: 22px;
    margin: 3px;
}

.statistic-col-right__statistic-item p {
    font-weight: 700;
    font-size: small;
}

.statistic-col-right__active-statistic-item svg {
    fill: red;
}