.top-navigation-bar-container {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #DDD;
    display: flex;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 100;
}

/* Left Container */
.top-navigation-bar-container__left-outer-container {
    height: 100%;
    flex-grow: 1;
}

/* Middle Container */
.top-navigation-bar-container__middle-outer-container {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    display: flex;
}

.middle-outer-container__left-inner-container {
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.middle-outer-container__middle-inner-container {
    width: 100%;
    max-width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-outer-container__middle-inner-container input {
    width: 100%;
    height: 35px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #DDD;
    padding: 0px 5px 0px 5px;
}

.middle-outer-container__right-inner-container {
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Right Container */
.top-navigation-bar-container__right-outer-container {
    height: 100%;
    flex-grow: 1;
}