.profile-page {
    width: 100%;
    min-height: 100vh;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-page__middle-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    min-height: calc(100vh - 50px);
    padding-top: 20px;
}

.profile-header__upper-row {
    display: flex;
}

.upper-row__image-container {
    max-width: 150px;
    max-height: 150px;
    margin-left: 25px;
}

.upper-row__image-container img {
    border-radius: 50%;
}



.upper-row__details-container {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.details-container__statistics-container {
    display: flex;
    /*border-bottom: 2px solid #dedede;*/
    width: fit-content;
    margin-bottom: 40px;
}

.statistics-container__statistic-item {
    display: flex;
    margin-right: 40px;
    /*border-bottom: 2px solid #dedede;*/
}

.statistics-container__statistic-item p:first-child {
    font-weight: 500;
    margin-right: 5px;
}

.statistics-container__statistic-item p {
    font-weight: 100;
}


.details-container__name-container {
    display: flex;
    width: 100%;

}

.name-container__full-name {
    font-size: large;
    font-weight: 500;
    padding-right: 20px;
}

.name-container__follow {
    width: 175px;
    height: 30px;
    background-color: #8800ff;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.details-container__nick-name-container {
    
}

.name-container__nick-name {
    margin-top: 5px;
}

.profile-header__description-row {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
}

/* Controller */
.middle-container__controller-container {
    margin-top: 30px;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controller-container__inner-controller-container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.inner-controller-container__controller-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border-bottom: 2px solid #dddddd;
    font-size: small;
    font-weight: 500;
    color: #cccccc;
}

.inner-controller-container__controller-item p {
    margin: 0px;
    padding: 0px;
}

.inner-controller-container__controller-item svg {
    height: 14px;
    width: 14px;
    margin-right: 3px;
    fill: #cccccc;
}

.inner-controller-container__controller-item svg path {
    fill: #cccccc;
}

.controller-container__bottom-line {
    height: 1px;
    width: 100%;
    background-color: #eeeeee;
    max-width: 1000px;
}



.inner-controller-container__active-controller-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border-bottom: 2px solid black;
    font-size: small;
    font-weight: 500;
    color: black;
}

.inner-controller-container__active-controller-item p {
    margin: 0px;
    padding: 0px;
}

.inner-controller-container__active-controller-item svg {
    height: 14px;
    width: 14px;
    margin-right: 3px;
    fill: black;
}

.inner-controller-container__active-controller-item svg path {
    fill: black;
}



/* Contents */
.content-container__feed-title {
    font-size: x-large;
    font-weight: 700;
    margin: 20px;
}

.feed-container {
    margin: 10px 0px 0px 0px;
    padding: 0px;
    max-width: 1000px;
}

.feed-container .row {
    margin: 0px;
    padding: 0px;
}