.container-fluid {
    margin: 0px;
    padding: 0px;
}

.row {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.col {
    margin: 0px;
    padding: 0px;
}



.top-navbar {
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 100;
}

.top-navbar-row {
    display: flex;
    width: 100%;
}

/* Left Container */
.top-navbar-row__row-left-container {

}

/* Middle Container */
.top-navbar-row__row-middle-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Right Container */
.top-navbar-row__row-right-container {

}

.top-navbar-row__search-bar {
    height: 35px;
    width: 100%;
    max-width: 400px;
    background-color: aliceblue;
    border-radius: 1px;
    border: 1px solid #eeeeee;
    outline: none;
    padding: 0px 5px 0px 5px;
}

.top-navbar-row__search-bar:focus {
    outline: 1px solid #eeeeee;
}