.home-page-container {
    display: flex;
    flex-direction: column;
}

.home-page-container__content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEE;
    min-height: 100vh;
    padding-top: 50px;
}