.post-component {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin-top: 50px;
    margin-bottom: 25px;
}

/* Post Header */
.post-component__post-header {
    display: flex;
}

.post-header__left-container {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.post-header__left-container img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.post-header__middle-container {
    display: flex;
    height: 60px;
    flex-grow: 1;
    padding-top: 5px;
    background-color: white;
}

.middle-container__name-container {
    display: flex;
    flex-direction: column;
}

.name-container__username {
    font-weight: 700;
    font-size: smaller;
}

.post-header__right-container {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

/* Post Content Container */
.post-component__post-content {
    position: relative;
    display: flex;
}

.post-component__post-content img {
    width: 100%;
    object-fit: cover;
}

.post-content__reaction-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.reaction-container__reaction-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 5px 0px;
    width: 50px;
}

.reaction-container__reaction-item svg {
    height: 25px;
    width: 25px;
    fill: white;
    box-shadow: 0px 0px 500px 15px black;
}

.reaction-container__reaction-item p {
    color: white;
    font-size: smaller;
}

/* Post Footer */
.post-component__post-footer {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 5px 10px 5px;
}

.post-footer__details-container {
    display: flex;
}

.details-container__date {
    font-size: small;
    font-weight: 700;
}

.details-container__location-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.details-container__location-container p {
    font-size: smaller;
}

.details-container__location-container svg {
    height: 15px;
    width: 15px;
}

.post-footer__capitation-container {

}

.capitation-container__capitation {
    font-size: smaller;
}

.post-footer__hashtag-container {
    display: flex;
    width: 100%;
    height: fit-content;
}

.hashtag-container__hashtag {
    font-weight: 700;
    font-size: smaller;
    font-style: italic;
    margin-right: 3px;
}
